* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* hsl(340, 83%, 69%) */
    /* hsl(14, 100%, 72%) */
    --hue: 220;

    --color-primary-1: hsl(var(--hue), 100%, 72%);
    --color-primary-2: hsl(calc(var(--hue) + 326), 83%, 69%);

    --color-primary-1-index: var(--hue), 100%, 72%;
    --color-primary-2-index: calc(var(--hue) + 326), 83%, 69%;

    --color-primary-gardient: linear-gradient(
        to right,
        hsl(var(--hue), 100%, 72%),
        hsl(calc(var(--hue) + 326), 83%, 69%) /* 340 83%, 69%*/
    );
    --color-primary-gardient-o: linear-gradient(
        to right,
        hsla(var(--hue), 100%, 72%, var(--o)),
        hsla(calc(var(--hue) + 326), 83%, 69%, var(--o)) /* 340 83%, 69%*/
    );
}

[data-bs-theme="light"] {
    --o: 0.2;

    --bs-body-color: hsl(calc(var(--hue) + 326), 12%, 35%);
    --bs-link-color: hsl(calc(var(--hue) + 326), 12%, 35%);
    --bs-link-hover-color: hsla(calc(var(--hue) + 326), 12%, 35%, 0.7);
    --bs-body-font-weight: 500;
    --bs-body-bg: linear-gradient(
        to right,
        hsl(var(--hue), 100%, 72%),
        hsl(calc(var(--hue) + 326), 83%, 69%) /* 340 83%, 69%*/
    );

    --box-shadow: rgba(100, 100, 111, 0.3) 0px 2rem 6rem 0px;
    --box-shadow_btnNav: rgba(100, 100, 111, 0.2) 15px 0px 29px 0px;
    --color-bg-1: white;
}

[data-bs-theme="dark"] {
    --o: 0.1;

    --color-bg-1: #212529;
    --bs-link-color: white;
    --bs-link-hover-color: rgba(255, 255, 255, 0.7);
    --box-shadow: hsla(calc(var(--hue) + 326), 83%, 69%, 0.3) 0px 2rem 6rem 0px;
    --bs-body-bg: linear-gradient(
        to right,
        hsl(var(--hue), 38%, 33%),
        hsl(calc(var(--hue) + 326), 36%, 31%)
    );
    --box-shadow_btnNav: hsla(calc(var(--hue) + 326), 83%, 69%, 0.2) 15px 0px 29px 0px;
}

.btn {
    --bs-btn-font-weight: 500;
}

/* remove btn up down */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.hide {
    display: none;
}

body {
    font-family: "Montserrat", sans-serif;
    background: var(--bs-body-bg);
}

.calculator-section {
    padding: 5rem 0;
}

.calculator {
    box-shadow: var(--box-shadow);
    border-radius: 1rem;
    padding: 2rem;
    background-color: var(--color-bg-1);
    overflow: hidden;
    position: relative;
}

.control {
    position: absolute;
    right: 2rem;
    top: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1rem;
}

.toggle_theme {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle_theme i {
    font-size: 1.4rem;
}

.change_color {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
}

input[type="range"]::-webkit-slider-thumb {
    background: var(--color-primary-gardient);
}
input[type="range"]::-ms-thumb {
    background: var(--color-primary-gardient);
}
input[type="range"]::-ms-thumb {
    background: var(--color-primary-gardient);
}
input[type="range"]::-webkit-slider-runnable-track {
    background: var(--color-primary-gardient-o);
}
.form-check-input:checked {
    background: var(--color-primary-gardient);
    border-color: var(--color-primary-2);
}
.form-select:focus,
.form-check-input:focus {
    border-color: var(--color-primary-2);
    box-shadow: 0 0 0 0.25rem hsla(var(--color-primary-1-index), 0.25);
}

.alert-success {
    background: var(--color-primary-gardient-o);
    color: var(--bs-body-color);
    border: none;
}

.content_left {
    width: 20%;
    min-width: 70px;
}

.content_right {
    flex: 1;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: var(--bs-nav-pills-link-active-color);
    background: var(--color-primary-gardient);
}

.calculator button.active {
    border: none;
    background: var(--color-primary-gardient);
}

.calculator form button {
    background: var(--color-primary-gardient);
    color: white;
    transition: all 0.3s;
    border: none;
}

.calculator .content_right form button:hover {
    opacity: 0.9;
    color: white;
}

.calculator .content_right form button:active {
    border: none;
    color: white;
    transform: translateY(1px);
}

.form-control:focus {
    background-color: var(--bs-form-control-bg);
    border-color: var(--color-primary-2);
    outline: 0;
    box-shadow: 0 0 0 0.15rem hsla(calc(var(--hue) + 326), 83%, 69%, 0.25);
}

.btn_nav {
    display: none;
}

.calculator-content {
    margin-top: 1rem;
}

@media (max-width: 991.98px) {
    .content_left {
        position: absolute;
        background-color: var(--color-bg-1);
        z-index: 1;
        left: 0;
        top: 0;
        padding: 1rem;
        width: 50%;
        border-radius: 1rem;
        transition: all 0.3s;
        transform: translateX(-101%);
    }

    .show_content_left {
        transform: translateX(0);
        box-shadow: var(--box-shadow);
    }

    .show_content_left .btn_nav {
        box-shadow: var(--box-shadow_btnNav);
    }

    .btn_nav i {
        transition: transform 0.3s;
    }

    .show_content_left .btn_nav i {
        transform: rotate(180deg);
    }

    .calculator {
        width: 100%;
    }

    .btn_nav {
        position: absolute;
        display: flex;
        align-items: center;
        left: 99%;
        cursor: pointer;
        background-color: var(--color-bg-1);
        padding: 0.5rem 0.5rem 0.5rem 0.6rem;
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        /* transition: all 0.3s; */
    }
}
